nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
}
nav span{
    cursor: pointer;
    margin-left: 40px;
    font-size: .85rem;
    text-transform: uppercase;
}
nav span:hover{
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
}
nav span:active{
    color: #ff206e;
}
span #HomeLight:hover, #MoviesLight:hover, #TrendingLight:hover, #PricingLight:hover{
    border-bottom: 2px solid #ff206e;
}
.nav-options{
    display: flex;
    align-items: center;
}
#heading{
    color: #ff206e;
}
#navBarColor span:hover{
    border-bottom: 2px solid #ff206e;
    padding-bottom: 5px;
}
.input-group input{
    position: relative;
    width: 323px;
    height: 4vh;
    margin-right: 30px;
}
.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
.input-group input::placeholder{
    border: black;
}
